h2 {
    margin-top: 3vh !important;
    margin-bottom: 3vh !important;
    color: #0a1525;
}

h4 {
    font-weight: bold !important;
}

.fav-icon {
    color: #e0b500 !important;
}

.comment-icon {
    color: #222 !important;
}

.card{
  background: #eeeeee;
}

.card-header{
  background: #162a47;
}

.card-title{
  color: white;
}

.ion-icon{
  margin-left: 10px;
}

.toolbar-background {
  background-color: #0a1525;
}

.toolbar-title {
  color: white;
}

.menu{
  color: white;
}

.button-round{
  background-color: #c71133;
  color: white;
}

.button-outline-md{
    border-color: #c71133;
}

.bar-button{
  color: white;
}

.notifier__container * {
  box-sizing: border-box;
}

.notifier__container-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.notifier__notification {
  display: block;
  position: fixed;
  visibility: hidden;
  z-index: 10000;
  will-change: transform;
  backface-visibility: hidden;
}

.notifier__notification--material {
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: default;
  padding-top: 11px;
  padding-right: 26px;
  padding-bottom: 10px;
  padding-left: 26px;
}

.notifier__notification--material .notifier__notification-message {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: top;
  line-height: 32px;
  font-size: 15px;
}

.notifier__notification--material .notifier__notification-button {
  display: inline-block;
  transition: opacity .2s ease;
  opacity: .5;
  margin-right: -10px;
  margin-left: 10px;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  padding: 6px;
  width: 32px;
  height: 32px;
  vertical-align: top;
}

.notifier__notification--material .notifier__notification-button:hover, .notifier__notification--material .notifier__notification-button:focus {
  opacity: 1;
}

.notifier__notification--material .notifier__notification-button:active {
  transform: scale(0.82);
  opacity: 1;
}

.notifier__notification--default {
  background-color: #444;
  color: #FFF;
}

.notifier__notification--default .notifier__notification-button-icon {
  fill: #FFF;
}

.notifier__notification--error {
  background-color: #D9534F;
  color: #FFF;
}

.notifier__notification--error .notifier__notification-button-icon {
  fill: #FFF;
}

.notifier__notification--info {
  background-color: #5BC0DE;
  color: #FFF;
}

.notifier__notification--info .notifier__notification-button-icon {
  fill: #FFF;
}

.notifier__notification--success {
  background-color: #5CB85C;
  color: #FFF;
}

.notifier__notification--success .notifier__notification-button-icon {
  fill: #FFF;
}

.notifier__notification--warning {
  background-color: #F0AD4E;
  color: #FFF;
}

.notifier__notification--warning .notifier__notification-button-icon {
  fill: #FFF;
}

/*# sourceMappingURL=styles.css.map */

.headertext{
  background: #162a47;
  color: white;
  padding: 10px;
  border-radius: 15px 50px 5px 5px;
}

.bodytext{
  background: #eeeeee;
  text-align: justify;
  text-justify: inter-word;
  padding-top: 5px;
  padding-bottom: 2px;
  padding-right: 20px;
  padding-left: 20px;
}

.personicon{
  font-size: 35px;
  color: #c71133;
  padding-right: 15px;
  padding-left: 17%;
  vertical-align:middle;
}

.card-content-md {
    padding: 10px 2px !important;
    text-align: center !important;
}
