h2 {
    margin-top: 3vh !important;
    margin-bottom: 3vh !important;
    color: #0a1525;
}

h4 {
    font-weight: bold !important;
}

.fav-icon {
    color: #e0b500 !important;
}

.save-icon {
    color: #222 !important;
}

.card{
  background: #eeeeee;
}

.card-header{
  background: #162a47;
}

.card-title{
  color: white;
}

.ion-icon{
  margin-left: 10px;
}

.toolbar-background {
  background-color: #0a1525;
}

.toolbar-title {
  color: white;
}

.menu{
  color: white;
}

.button-round{
  background-color: #c71133;
  color: white;
}

.button-outline-md{
    border-color: #c71133;
}

.bar-button{
  color: white;
}
