<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Anuncios</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
  <h2 style="float:left;">Tus anuncios </h2>
  <button style="float:right; margin-top: 3vh !important;" ion-button round outline icon-only (click)="nuevoAnuncio()"><ion-icon name="add"></ion-icon></button>
  </div>
  <div style="clear: both;" *ngIf="(anuncios$ | async)?.length==0 && anunciosAntiguos.length==0">
      <h6 ion-text color="dark">No hay anuncios disponibles</h6>
  </div>
  <ion-list *ngFor="let anuncio of anuncios$ | async">
      <ion-card>
        <ion-card-header>
          <ion-card-title><ion-icon name='person'></ion-icon>&nbsp;&nbsp;{{anuncio.nombreUsuario}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <button ion-button clear color="dark" icon-start>
              <ion-icon name='calendar'></ion-icon>
              {{anuncio.fSalida}} - {{anuncio.fRecogida}}
            </button>
            <button ion-button clear color="dark" icon-start>
              <ion-icon name='people'></ion-icon>
              {{anuncio.nPersonas}}
            </button>
            <button ion-button clear color="dark" icon-start>
              <ion-icon name='pin'></ion-icon>
              {{anuncio.localizacion}}
            </button>
            <button ion-button clear color="dark" icon-start>
              <ion-icon name=water></ion-icon>
              {{anuncio.distancia}} km
            </button>
            <button ion-button clear color="dark" icon-start>
                <span *ngIf="anuncio.asegurado">
                    <ion-icon name='checkmark'></ion-icon>
                </span>
                <span *ngIf="!anuncio.asegurado">
                    <ion-icon name='close'></ion-icon>
                </span>
              Seguro
            </button>
            <button ion-button clear color="dark" icon-start>
                <span *ngIf="anuncio.cancelacion">
                    <ion-icon name='checkmark'></ion-icon>
                </span>
                <span *ngIf="!anuncio.cancelacion">
                    <ion-icon name='close'></ion-icon>
                </span>
              Cancelación
            </button>
        </ion-card-content>
        <ion-row>
            <ion-col text-center>
                <span *ngIf="anuncio.alquilado">
                      <h4 ion-text color="danger">¡Reservado!</h4>
                </span>
                <span *ngIf="!anuncio.alquilado">
                    <button ion-button round (click)="verOfertas(anuncio.id)">Ver Ofertas</button>
                </span>
            </ion-col>
        </ion-row>
        <hr>
        <ion-row no-padding>
          <ion-col>
            <button ion-button clear small class="fav-icon" icon-start>
              <ion-icon name='star'></ion-icon>
              Fav
            </button>
          </ion-col>
          <ion-col>
            <button ion-button clear small class="comment-icon" icon-start>
              <ion-icon name='text'></ion-icon>
              Comenta
            </button>
          </ion-col>
          <ion-col>
            <button ion-button clear small icon-start>
              <ion-icon name='share-alt'></ion-icon>
              Share
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
      <br>
    </ion-list>

	  <ion-list *ngFor="let anuncio of anunciosAntiguos" style="display:none;" id="anunciosAntiguos">
      <ion-card>
        <ion-card-header>
          <ion-card-title><ion-icon name='person'></ion-icon>&nbsp;{{anuncio.nombreUsuario}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <button ion-button clear color="dark" icon-start>
              <ion-icon name='calendar'></ion-icon>
              {{anuncio.fSalida}} - {{anuncio.fRecogida}}
            </button>
            <button ion-button clear color="dark" icon-start>
              <ion-icon name='people'></ion-icon>
              {{anuncio.nPersonas}}
            </button>
            <button ion-button clear color="dark" icon-start>
              <ion-icon name='pin'></ion-icon>
              {{anuncio.localizacion}}
            </button>
            <button ion-button clear color="dark" icon-start>
              <ion-icon name=water></ion-icon>
              {{anuncio.distancia}} km
            </button>
            <button ion-button clear color="dark" icon-start>
                <span *ngIf="anuncio.asegurado">
                    <ion-icon name='checkmark'></ion-icon>
                </span>
                <span *ngIf="!anuncio.asegurado">
                    <ion-icon name='close'></ion-icon>
                </span>
              Seguro
            </button>
            <button ion-button clear color="dark" icon-start>
                <span *ngIf="anuncio.cancelacion">
                    <ion-icon name='checkmark'></ion-icon>
                </span>
                <span *ngIf="!anuncio.cancelacion">
                    <ion-icon name='close'></ion-icon>
                </span>
              Cancelación
            </button>
        </ion-card-content>
        <ion-row>
            <ion-col text-center>
                <span *ngIf="anuncio.alquilado">
                      <h4 ion-text color="danger">¡Reservado!</h4>
                </span>
                <span *ngIf="!anuncio.alquilado">
                    <h4 ion-text color="danger">No Reservado</h4>
                </span>
            </ion-col>
        </ion-row>
        <hr>
        <ion-row no-padding>
          <ion-col>
            <button ion-button clear small class="fav-icon" icon-start>
              <ion-icon name='star'></ion-icon>
              Fav
            </button>
          </ion-col>
          <ion-col>
            <button ion-button clear small class="comment-icon" icon-start>
              <ion-icon name='text'></ion-icon>
              Comenta
            </button>
          </ion-col>
          <ion-col>
            <button ion-button clear small icon-start>
              <ion-icon name='share-alt'></ion-icon>
              Share
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
      <br>
    </ion-list>
	<ion-item>
		<button style="float:right; margin-top: 3vh !important; display:none;" ion-button round (click)="mostrarAnunciosAntiguos()" id="mostrarAnunciosAntiguosBtn" >Mostrar anuncios antiguos</button>
		<button style="float:right; margin-top: 3vh !important; display:none;" ion-button round (click)="ocultarAnunciosAntiguos()" id="ocultarAnunciosAntiguosBtn" >Ocultar anuncios antiguos</button>
	</ion-item>
</ion-content>
