page-hacer-oferta {
    h2 {
        margin-top: 3vh !important;
        margin-bottom: 3vh !important;
    }

    ion-content .scroll-content {
        background-color: #FCFCFC;
        padding-bottom: 0 !important;
    }

    .select-input {
        padding-left: 3.7vh;
    }
}
