page-login {
    ion-title * {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    #logo {
        margin-top: 8vh;
    }

    ion-content .scroll-content {
        background-color: #FCFCFC;
    }
}
