<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h3>Nuestra Primera Práctica en Ionic</h3>

    <!--<button ion-button secondary menuToggle>Toggle Menu</button>-->

    <ion-button>Pulsa!</ion-button>

    <h3>Nuestro equipo</h3>
      <ion-item>
        <ion-label>Pablo</ion-label>
        <ion-checkbox color="dark" checked="true"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Alejandra</ion-label>
        <ion-checkbox checked="true"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Julio</ion-label>
        <ion-checkbox color="secondary" checked="true"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Denis</ion-label>
        <ion-checkbox color="danger" checked="true"></ion-checkbox>
      </ion-item>
</ion-content>
