page-nuevo-anuncio {
    h2 {
        margin-top: 6vh !important;
        margin-bottom: 6vh !important;
    }

    ion-content .scroll-content {
        background-color: #FCFCFC;
        padding-bottom: 0 !important;
    }

	.show{
		backgroundColor: "red";
	}
	.step{
		backgroundColor: "transparent !important";
		transition: .5s ease-in-out all;
	}
}
