<!--
  Generated template for the AnunciosArrendadorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Lista de Anuncios</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
  <h2 style="float:left;">Todos los anuncios </h2>
  </div>
  <div style="clear: both;" *ngIf="(anuncios$ | async)?.length==0">
      <h6 ion-text color="dark">No hay anuncios disponibles</h6>
  </div>
  <ion-list *ngFor="let anuncio of anuncios$ | async">
      <ion-card>
        <ion-card-header>
          <ion-card-title><ion-icon name='person'></ion-icon>&nbsp;&nbsp;{{anuncio.nombreUsuario}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <button ion-button clear color="dark" icon-start>
              <ion-icon name='calendar'></ion-icon>
              {{anuncio.fSalida}} - {{anuncio.fRecogida}}
            </button>
            <button ion-button clear color="dark" icon-start>
              <ion-icon name='people'></ion-icon>
              {{anuncio.nPersonas}}
            </button>
            <button ion-button clear color="dark" icon-start>
              <ion-icon name='pin'></ion-icon>
              {{anuncio.localizacion}}
            </button>
            <button ion-button clear color="dark" icon-start>
              <ion-icon name=water></ion-icon>
              {{anuncio.distancia}} km
            </button>
            <button ion-button clear color="dark" icon-start>
                <span *ngIf="anuncio.asegurado">
                    <ion-icon name='checkmark'></ion-icon>
                </span>
                <span *ngIf="!anuncio.asegurado">
                    <ion-icon name='close'></ion-icon>
                </span>
              Seguro
            </button>
            <button ion-button clear color="dark" icon-start>
                <span *ngIf="anuncio.cancelacion">
                    <ion-icon name='checkmark'></ion-icon>
                </span>
                <span *ngIf="!anuncio.cancelacion">
                    <ion-icon name='close'></ion-icon>
                </span>
              Cancelación
            </button>
        </ion-card-content>
        <ion-row>
            <ion-col text-center>
                <button ion-button round (click)="hacerOferta(anuncio.id)">Hacer Oferta</button>
            </ion-col>
        </ion-row>
        <hr>
        <ion-row no-padding>
          <ion-col>
            <button ion-button clear small class="fav-icon" icon-start>
              <ion-icon name='star'></ion-icon>
              Fav
            </button>
          </ion-col>
          <ion-col>
            <button ion-button clear small class="save-icon" icon-start>
              <ion-icon name='text'></ion-icon>
              Comenta
            </button>
          </ion-col>
          <ion-col>
            <button ion-button clear small icon-start>
              <ion-icon name='share-alt'></ion-icon>
              Share
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
      <br>
    </ion-list>

</ion-content>
